
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange : #7F00FF;
  --primary-dark: rgba(255,255,255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}

body {

  /* font-family: "Roboto Condensed" sans-serif; */
}
/**********************************************NAVBAR*************************************/









/**************MENU LINKS************************/
nav a.nav-link {
  font-size: 0.8rem;
  letter-spacing: 0.0375 rem;
  cursor: pointer;

}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > li > a.active, .navbar-nav >li >a:focus {

  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li >a:hover {
  border-top: 0.1875rem solid var(--primary-orange);

}

/******************************Header wrap*********************/

.header-wrapper {
  position: relative;

  background: url(background-laptop-modified.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  
}

.main-info {

  
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;

}

.main-info h1 {
  color: var(--primary-white);
  text-transform: uppercase;
}

/** TYPED TEXT *********/

.typed-text 
{
  font-size: 5rem;
  font-weight: 900;
  color: var(--primary-white);
  
  
}

/** Header offer button *********/

.btn-main-offer {

  border: 1px solid var(--primary-red);
}

/** Particles ********/

#tsparticles {

  position: absolute;
  height: 100vh;
  width: 100vh;
  z-index: 1;

}